<!DOCTYPE HTML>
<html lang="en-US" dir="ltr">
	<head>
		<title>Cocoro</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="msapplication-TileColor" content="#ff9933" />
		<meta name="msapplication-TileImage" content="link_to_image" />
		<meta name="description" content="Time to sleep" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{HOST}public/img/cocoro_logo.svg" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{HOST}public/img/cocoro_logo.svg" />
		<!-- <link href="public/lib/normalize.css" rel="stylesheet" /> -->
		<!-- <link href="public/css/cocoro.css" rel="stylesheet" /> -->
		<!-- <script src="public/js/cocoro.js" async=""></script> -->
		<style>{CSS}</style>
		<script>{JS}</script>
	</head>
	<body itemscope itemtype="https://schema.org/WebPage" onunload="">
		{CONTENT}
	</body>
</html>